In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import RobustScaler,StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.covariance import EllipticEnvelope

In [76]:
train=pd.read_csv("C://Users//abhis//Downloads//train_data.csv")

In [5]:
macro=pd.read_excel("C://Users//abhis//Downloads//macro_economic.xlsx")

In [6]:
test=pd.read_csv("C://Users//abhis//Downloads//test _data.csv")

In [8]:
macro.head().T

,0,1,2,3,4
Year-Month,2009 - Jan,2009 - Feb,2009 - Mar,2009 - Apr,2009 - May
Monthly Nominal GDP Index (inMillion$),14421.8,14389.2,14340.7,14326.8,14345.9
Monthly Real GDP Index (inMillion$),14407.1,14366.2,14351.8,14351.6,14368.1
CPI,233.402,234.663,235.067,235.582,235.975
PartyInPower,Democrats,Democrats,Democrats,Democrats,Democrats
unemployment rate,7.8,8.3,8.7,9,9.4
CommercialBankInterestRateonCreditCardPlans,12.03,12.97,12.97,12.97,13.32
"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",11.44,11.05,11.05,11.05,11.25
Earnings or wages in dollars per hour,22.05,22.22,22.22,22.13,22.04
AdvertisingExpenses (in Thousand Dollars),137,200,?,214,?
Cotton Monthly Price - US cents per Pound(lbs),57.7,55.21,51.5,56.78,61.95
Change(in%),4.02,-4.32,-6.72,10.25,9.11
Average upland planted(million acres),9.296,9.296,9.296,9.296,9.297
Average upland harvested(million acres),7.559,7.559,7.559,7.559,7.4
yieldperharvested acre,799,799,799,787,803
Production (in 480-lb netweright in million bales),12.589,12.589,12.589,12.4,12.384
Mill use (in 480-lb netweright in million bales),4.17,3.87,3.72,3.62,3.52
Exports,11.55,11.1,11.65,12.225,12.3

In [9]:
macro.isnull().sum()

Year-Month                                                           0
Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
PartyInPower                                                         0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
AdvertisingExpenses (in Thousand Dollars)                            0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
dtype: int64

In [124]:
for i in macro.columns:
    if np.dtype(macro[i]).name=="float64":
        print(i,' ',sum(macro[i]=='?'))

Monthly Nominal GDP Index (inMillion$)   0
Monthly Real GDP Index (inMillion$)   0
CPI   0
unemployment rate   0
CommercialBankInterestRateonCreditCardPlans   0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan   0
Earnings or wages  in dollars per hour   0
Cotton Monthly Price - US cents per Pound(lbs)   0
Change(in%)   0
Average upland planted(million acres)   0
Average upland harvested(million acres)   0
Production (in  480-lb netweright in million bales)   0
Mill use  (in  480-lb netweright in million bales)   0
Exports   0

In [18]:
macro.shape

(96, 18)

In [17]:
macro["AdvertisingExpenses (in Thousand Dollars)"].value_counts()

?      85
221     1
150     1
201     1
137     1
200     1
248     1
214     1
165     1
116     1
183     1
208     1
Name: AdvertisingExpenses (in Thousand Dollars), dtype: int64

In [19]:

a=macro[macro["AdvertisingExpenses (in Thousand Dollars)"]!='?']["AdvertisingExpenses (in Thousand Dollars)"]

In [21]:
a.astype(float).describe()

count     11.000000
mean     185.727273
std       39.754474
min      116.000000
25%      157.500000
50%      200.000000
75%      211.000000
max      248.000000
Name: AdvertisingExpenses (in Thousand Dollars), dtype: float64

In [23]:
#impute the ? with 200

macro["AdvertisingExpenses (in Thousand Dollars)"].replace(to_replace='?',value='200',inplace=True)

In [30]:
macro["AdvertisingExpenses (in Thousand Dollars)"]=pd.to_numeric(macro["AdvertisingExpenses (in Thousand Dollars)"])

In [32]:
type(list(macro["AdvertisingExpenses (in Thousand Dollars)"].unique())[2])

numpy.int64

In [56]:
macro.head().T

,0,1,2,3,4
Year-Month,2009 - Jan,2009 - Feb,2009 - Mar,2009 - Apr,2009 - May
Monthly Nominal GDP Index (inMillion$),14421.8,14389.2,14340.7,14326.8,14345.9
Monthly Real GDP Index (inMillion$),14407.1,14366.2,14351.8,14351.6,14368.1
CPI,233.402,234.663,235.067,235.582,235.975
PartyInPower,Democrats,Democrats,Democrats,Democrats,Democrats
unemployment rate,7.8,8.3,8.7,9,9.4
CommercialBankInterestRateonCreditCardPlans,12.03,12.97,12.97,12.97,13.32
"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",11.44,11.05,11.05,11.05,11.25
Earnings or wages in dollars per hour,22.05,22.22,22.22,22.13,22.04
AdvertisingExpenses (in Thousand Dollars),137,200,200,214,200
Cotton Monthly Price - US cents per Pound(lbs),57.7,55.21,51.5,56.78,61.95
Change(in%),4.02,-4.32,-6.72,10.25,9.11
Average upland planted(million acres),9.296,9.296,9.296,9.296,9.297
Average upland harvested(million acres),7.559,7.559,7.559,7.559,7.4
yieldperharvested acre,799,799,799,787,803
Production (in 480-lb netweright in million bales),12.589,12.589,12.589,12.4,12.384
Mill use (in 480-lb netweright in million bales),4.17,3.87,3.72,3.62,3.52
Exports,11.55,11.1,11.65,12.225,12.3
Month,1,2,3,4,5

In [62]:
train.head(10)

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0
5  2009      2   OtherClothing                      859.0
6  2009      3   WomenClothing                     2256.0
7  2009      3     MenClothing                      542.0
8  2009      3   OtherClothing                      921.0
9  2009      4   WomenClothing                     2662.0

In [82]:
train.Year=train.Year.astype(str)

In [77]:
import calendar
train['Month'] = train['Month'].apply(lambda x: calendar.month_abbr[x])

In [83]:
train["month"]=train.Year + " - " + train.Month

In [85]:
train.drop(["Year","Month"],axis=1,inplace=True)

In [86]:
train.head()

  ProductCategory  Sales(In ThousandDollars)       month
0   WomenClothing                     1755.0  2009 - Jan
1     MenClothing                      524.0  2009 - Jan
2   OtherClothing                      936.0  2009 - Jan
3   WomenClothing                     1729.0  2009 - Feb
4     MenClothing                      496.0  2009 - Feb

In [87]:
test.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2015      1   WomenClothing                        NaN
1  2015      1     MenClothing                        NaN
2  2015      1   OtherClothing                        NaN
3  2015      2   WomenClothing                        NaN
4  2015      2     MenClothing                        NaN

In [88]:
test.Year=test.Year.astype(str)

In [89]:
import calendar
test['Month'] = test['Month'].apply(lambda x: calendar.month_abbr[x])

In [92]:
test["month"]=test.Year + " - " + test.Month

In [93]:
test.head()

   Year Month ProductCategory  Sales(In ThousandDollars)       month
0  2015   Jan   WomenClothing                        NaN  2015 - Jan
1  2015   Jan     MenClothing                        NaN  2015 - Jan
2  2015   Jan   OtherClothing                        NaN  2015 - Jan
3  2015   Feb   WomenClothing                        NaN  2015 - Feb
4  2015   Feb     MenClothing                        NaN  2015 - Feb

In [94]:
test.drop(["Year","Month"],axis=1,inplace=True)

In [96]:
test.drop("Sales(In ThousandDollars)",axis=1,inplace=True)

In [97]:
test.head()

  ProductCategory       month
0   WomenClothing  2015 - Jan
1     MenClothing  2015 - Jan
2   OtherClothing  2015 - Jan
3   WomenClothing  2015 - Feb
4     MenClothing  2015 - Feb

In [103]:
test=test.rename({"month":"Year-Month"},axis=1)

In [105]:
train=train.rename({"month":"Year-Month"},axis=1)

In [108]:
test_data=pd.merge(test,macro,on="Year-Month",how="inner")

In [63]:
macro.head(3)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Month
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,2
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,200,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.65,3

In [110]:
train_data=pd.merge(train,macro,on="Year-Month",how="inner")

In [112]:
train_data.drop('Month',axis=1,inplace=True)

In [113]:
test_data.drop('Month',axis=1,inplace=True)

In [115]:
train_data.shape

(216, 20)

In [116]:
test_data.shape

(36, 19)

In [121]:
train_data.isnull().sum()

ProductCategory                                                      0
Sales(In ThousandDollars)                                            0
Year-Month                                                           0
Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
PartyInPower                                                         0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
AdvertisingExpenses (in Thousand Dollars)                            0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
dtype: int64

In [119]:
train_data["Sales(In ThousandDollars)"].describe()

count     204.000000
mean     1702.352941
std      1253.333110
min       471.000000
25%       710.750000
50%      1080.500000
75%      2750.750000
max      5664.000000
Name: Sales(In ThousandDollars), dtype: float64

In [120]:
train_data["Sales(In ThousandDollars)"].fillna(1080.5,inplace=True)

In [125]:
test_data.head()

,ProductCategory,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,WomenClothing,2015 - Jan,17792.116953,16319.786314,258.376,Democrats,5.7,11.99,10.47,24.88,200,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45
1,MenClothing,2015 - Jan,17792.116953,16319.786314,258.376,Democrats,5.7,11.99,10.47,24.88,200,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45
2,OtherClothing,2015 - Jan,17792.116953,16319.786314,258.376,Democrats,5.7,11.99,10.47,24.88,200,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45
3,WomenClothing,2015 - Feb,17931.046190,16400.926737,259.240,Democrats,5.5,11.98,9.85,25.05,200,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20
4,MenClothing,2015 - Feb,17931.046190,16400.926737,259.240,Democrats,5.5,11.98,9.85,25.05,200,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20

# now model building

In [139]:
k=[]
for i in train_data.columns:
    if np.dtype(train_data[i]).name=="object":
        k.append(i)

In [140]:
k

['ProductCategory', 'Year-Month', 'PartyInPower']

In [129]:
np.dtype(test_data["ProductCategory"]).name

'object'

In [131]:
x

['ProductCategory', 'Year-Month', 'PartyInPower']

In [142]:
test_data.ProductCategory.value_counts()

WomenClothing    12
MenClothing      12
OtherClothing    12
Name: ProductCategory, dtype: int64

In [143]:
ohe_train=pd.get_dummies(train_data.drop("Year-Month",axis=1))

In [144]:
ohe_test=pd.get_dummies(test_data.drop("Year-Month",axis=1))

In [145]:
ohe_test.shape

(36, 20)

In [146]:
ohe_train.shape

(216, 21)

In [147]:
dummy=ohe_train.drop("Sales(In ThousandDollars)",axis=1)

In [172]:
rs=StandardScaler()
scaled_train=rs.fit_transform(dummy)

C:\Users\abhis\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\abhis\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [173]:
scaled_test=rs.fit_transform(ohe_test)

C:\Users\abhis\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\abhis\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [174]:
scaled_tr=pd.DataFrame(scaled_train,columns=dummy.columns)

In [175]:
scaled_te=pd.DataFrame(scaled_test,columns=ohe_test.columns)

In [176]:
scaled_te.shape

(36, 20)

In [177]:
scaled_tr.shape

(216, 20)

In [178]:
x=scaled_tr
y=ohe_train["Sales(In ThousandDollars)"]

In [229]:
dtree=DecisionTreeRegressor(max_depth=6)
predict_dtree=dtree.fit(x,y).predict(scaled_te)

In [221]:
lr=LinearRegression()
predict_lr=lr.fit(x,y).predict(scaled_te)

In [181]:
rf=RandomForestRegressor()
predict_rf=rf.fit(x,y).predict(scaled_te)

C:\Users\abhis\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [230]:
sol=pd.DataFrame(predict_dtree)

In [232]:
sol.to_csv("myfile_12_dtree.csv")

In [224]:
cd

C:\Users\abhis

In [195]:
rf = RandomForestRegressor(random_state = 42)
from pprint import pprint
# Look at parameters used by our current forest
print('Parameters currently in use:\n')
pprint(rf.get_params())

Parameters currently in use:

{'bootstrap': True,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 'warn',
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [196]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]

In [197]:
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [198]:
pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [199]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)

In [200]:
pred_rf=rf.fit(x,y).predict(scaled_te)

C:\Users\abhis\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [201]:
rf_random.fit(x,y)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   10.0s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   33.2s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  1.1min finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
          estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
          fit_params=None, iid='warn', n_iter=100, n_jobs=-1,
          param_distributions={'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score='warn', scoring=None, verbose=2)

In [202]:
rf_random.best_params_

{'n_estimators': 200,
 'min_samples_split': 5,
 'min_samples_leaf': 4,
 'max_features': 'auto',
 'max_depth': 80,
 'bootstrap': True}

In [203]:
rf=RandomForestRegressor(n_estimators=200,min_samples_split=5,min_samples_leaf=4,max_depth=80,max_features='auto',bootstrap=True)

In [209]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [210]:
grid_search.fit(x,y)
grid_search.best_params_

Fitting 3 folds for each of 288 candidates, totalling 864 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   13.1s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   19.5s
[Parallel(n_jobs=-1)]: Done 349 tasks      | elapsed:   31.2s
[Parallel(n_jobs=-1)]: Done 632 tasks      | elapsed:   47.2s
[Parallel(n_jobs=-1)]: Done 864 out of 864 | elapsed:  1.0min finished

{'bootstrap': True,
 'max_depth': 100,
 'max_features': 3,
 'min_samples_leaf': 3,
 'min_samples_split': 8,
 'n_estimators': 200}

In [214]:
rf=RandomForestRegressor(n_estimators=200,
                         min_samples_split=8,min_samples_leaf=3,max_depth=100,max_features=3,bootstrap=True)

In [215]:
pred_rf=rf.fit(x,y).predict(scaled_te)

In [216]:
sol=pd.DataFrame(pred_rf)

In [220]:
sol.to_csv("myfile_11.csv")

In [218]:
cd

C:\Users\abhis